

PORT=5000

DATABASE_URL=postgres://your-db-link
JWT_ACCESS_SECRET=A_SECRET_FOR_OUR_SECRET
JWT_REFRESH_SECRET=A_REFRESH_SECRET_FOR_OUR_SECRET

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=10



